{% extends 'finder/base.html' %}

{% block content %}
<h1></h1>
<form id = "restaurant-form" action="{% url 'search' %}" method="post">
    {% csrf_token %}

</form>
    <script>
    // Function to submit the form automatically
    function submitForm() {
        document.getElementById('restaurant-form').submit();
    }

    // Call submitForm after a delay or under certain conditions
    // Example: Call it immediately after 2 seconds
    setTimeout(submitForm, 5); // Adjust the time as needed

</script>
{% endblock %}
